
:root {
    /* BOOKMARK TOGGLE */
    --bookmark-toggle-padding: 0.5em;
    --bookmark-toggle-border: 1px solid var(--clr-neutral-600);
    --bookmark-toggle-border-radius: 0.25rem;
    --bookmark-toggle-clr: var(--clr-neutral-500);
    --bookmark-toggle-font-weight: var(--fw-medium);
    --bookmark-toggle-background-clr: transparent;
    --bookmark-toggle-icon-background-clr: transparent;

    /* RATING LABEL */
    --rating-label-padding: 0.5em;
    --rating-label-border: 1px solid var(--clr-neutral-600);
    --rating-label-border-radius: 0.25rem;
    --thumbnail-yellow: var(--clr-accent-200);
    --thumbnail-red: var(--clr-accent-300);
}

.details__screen {
    display: grid;
    grid-auto-flow: column;
}

.details__header,
.details__action {
    display: flex;
    gap: 1rem;
}

.details__headline {
    max-inline-size: 12ch;

    /* display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden; */

    font-size: var(--fs-heading-300);
    font-family: var(--ff-heading-300);
    font-weight: var(--fw-heading-300);
    letter-spacing: var(--tracking-heading-300);
    line-height: var(--leading-heading-300);
    color: var(--clr-neutral-300);
}

.details__primary__info {
    --gap: 3rem;

    display: grid;
    gap: var(--gap);
}

.details__subject__container {
    display: grid;
    gap: var(--gap);

    /* TODO: Define the final width */
    inline-size: min-content;
}

.details__subject__wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: var(--gap);
}

.details__subject {
    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;
}

.details__subject__title {
    block-size: max-content;

    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-500);
}

.details__subject__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.bookmark__toggle {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    
    padding-inline: calc(var(--bookmark-toggle-padding) + 0.25em);
    padding-block: var(--bookmark-toggle-padding);
    border: var(--bookmark-toggle-border);
    border-radius: var(--bookmark-toggle-border-radius);
    
    color: var(--bookmark-toggle-clr);
    font-weight: var(--bookmark-toggle-font-weight);
    background-color: var(--bookmark-toggle-background-clr);
}

/* RATING LABEL */
.rating__label {
    display: grid;
    grid-auto-flow: column;
    
    border-radius: var(--rating-label-border-radius);
    overflow: hidden;
}

.rating__label__thumbnail {
    display: flex;
    align-items: center;
    
    padding-inline: calc(var(--rating-label-padding) + 0.125em);
    padding-block: var(--rating-label-padding);
}

.rating__label__body {
    display: flex;
    align-items: center;

    padding-inline: calc(var(--rating-label-padding) + 0.125em);
    padding-block: var(--rating-label-padding);
    
    border: var(--rating-label-border);
    border-inline-start: none;
    border-start-end-radius: var(--rating-label-border-radius);
    border-end-end-radius: var(--rating-label-border-radius);
}

.thumbnail--yellow {
    background-color: var(--clr-accent-200);
}

.thumbnail--red {
    background-color: var(--clr-accent-300);
}

/* BOOKMARK TOGGLE */
.bookmark__toggle__icon {
    inline-size: 1rem;
}

.bookmark__toggle__icon .target--stroke {
    stroke: var(--bookmark-toggle-clr);
}

.bookmark__toggle__icon .target--fill {
    fill: var(--bookmark-toggle-icon-background-clr);
}

.toggled--on {
    --bookmark-toggle-clr: var(--clr-neutral-100);
    --bookmark-toggle-border: 1px solid var(--clr-accent-300);
    --bookmark-toggle-background-clr: var(--clr-accent-300);
    --bookmark-toggle-icon-background-clr: var(--clr-neutral-100);
}

.toggled--off:hover,
.toggled--off:focus {
    --bookmark-toggle-clr: var(--clr-neutral-100);
    --bookmark-toggle-border: 1px solid var(--clr-accent-300);
}
