:root {
    /* NAV BAR */
    --back-link-clr: #8B93A6;
    
    /* POSTER */
    --poster-width: min(18.75rem, 100%);
    --poster-border-radius: 0.5rem;
    --poster-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    /* BOOKMARK TOGGLE */
    --bookmark-toggle-padding: 0.5em;
    --bookmark-toggle-border: 1px solid var(--clr-neutral-600);
    --bookmark-toggle-border-radius: 0.25rem;
    --bookmark-toggle-clr: var(--clr-neutral-500);
    --bookmark-toggle-font-weight: var(--fw-medium);
    --bookmark-toggle-background-clr: transparent;
    --bookmark-toggle-icon-background-clr: transparent;

    /* RATING LABEL */
    --rating-label-padding: 0.5em;
    --rating-label-border: 1px solid var(--clr-neutral-600);
    --rating-label-border-radius: 0.25rem;
    --thumbnail-yellow: var(--clr-accent-200);
    --thumbnail-red: var(--clr-accent-300);

    /* RATED LABEL */
    --rated-label-border-radius: 0.25rem;
    --rated-label-font-weight: var(--fw-medium);
    --rated-label-clr: var(--clr-neutral-800);
    --rated-label-background-clr: var(--clr-neutral-500);

    /* WHITE SPACE BETWEEN ELEMENTS */
    --white-space-100: 1rem;
    --white-space-200: 2rem;
    --white-space-300: 3rem;
    --white-space-400: 4rem;
}

.details__screen__container {
    display: grid;
    grid-template-rows: max-content auto;
    block-size: 100%;
}

.details__state__screen {
    align-self: center;
    justify-self: center;
}

.nav {
    margin-block-start: 0.5rem;
}

.nav__back__link .target--stroke {
    stroke: var(--back-link-clr);
}

.nav__back__link:hover .target--stroke {
    --back-link-clr: var(--clr-neutral-100);
}

.details__container {
    display: grid;
    grid-auto-flow: row;
    
    margin-block-start: var(--white-space-200);
    margin-block-end: var(--white-space-400);
}

@media (min-width: 56em) {
    .details__container {
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
    }

    .details__poster__wrapper {
        grid-column: 2 / 3;
    }
}

.details__header {
    display: flex;
    align-items: center;
    margin-block-end: var(--white-space-200);
}

.details__header__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-size: var(--fs-400);
    color: var(--clr-neutral-500);
}

.rated__label {
    padding-inline: 0.375rem;
    padding-block: 0.25rem;
    border-radius: var(--rated-label-border-radius);
    
    font-weight: var(--rated-label-font-weight);
    color: var(--rated-label-clr);    
    
    background-color: var(--rated-label-background-clr);
}

.details__headline {
    margin-block-end: var(--white-space-300);
    
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    font-size: var(--fs-heading-300);
    font-family: var(--ff-heading-300);
    font-weight: var(--fw-heading-300);
    letter-spacing: var(--tracking-heading-300);
    line-height: var(--leading-heading-300);
    color: var(--clr-neutral-300);
}

.details__layout--column {
    display: flex;
    flex-wrap: wrap;
    gap: var(--white-space-100);
    
    margin-block-end: var(--white-space-300);
}

.details__subjects__container {
    display: grid;
    inline-size: 90%;
}

.details__subjects__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--white-space-300);
   
    margin-block-start: var(--white-space-300);
}

.details__subject {
    display: grid;
    grid-auto-rows: max-content;
    gap: var(--white-space-100);
}

.details__subject__title {
    block-size: max-content;

    font-size: var(--fs-300);
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-500);
}

.details__subject__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(var(--white-space-100) * 0.5);
}

.details__poster__wrapper {
    justify-self: center;
    block-size: max-content;
    margin-block-end: var(--white-space-300);
}

.details__poster {
    inline-size: var(--poster-width);
    box-shadow: var(--poster-box-shadow);
    border-radius: var(--poster-border-radius);
}

/* RATING LABEL */
.rating__label {
    display: grid;
    grid-auto-flow: column;
    
    border-radius: var(--rating-label-border-radius);
    overflow: hidden;
}

.rating__label__thumbnail {
    display: flex;
    align-items: center;
    
    padding-inline: calc(var(--rating-label-padding) + 0.125em);
    padding-block: var(--rating-label-padding);
}

.rating__label__body {
    display: flex;
    align-items: center;

    padding-inline: calc(var(--rating-label-padding) + 0.125em);
    padding-block: var(--rating-label-padding);
    
    border: var(--rating-label-border);
    border-inline-start: none;
    border-start-end-radius: var(--rating-label-border-radius);
    border-end-end-radius: var(--rating-label-border-radius);
}

.thumbnail--yellow {
    background-color: var(--clr-accent-200);
}

.thumbnail--red {
    background-color: var(--clr-accent-300);
}

/* BOOKMARK TOGGLE */
.bookmark__toggle {
    display: flex;
    align-items: center;
    gap: calc(var(--bookmark-toggle-padding) + 0.25em);
    
    padding-inline-start: calc(var(--bookmark-toggle-padding) + 0.25em);
    padding-inline-end: calc(var(--bookmark-toggle-padding) + 0.5em);
    padding-block: var(--bookmark-toggle-padding);
    border: var(--bookmark-toggle-border);
    border-radius: var(--bookmark-toggle-border-radius);
    
    color: var(--bookmark-toggle-clr);
    font-weight: var(--bookmark-toggle-font-weight);
    background-color: var(--bookmark-toggle-background-clr);
}

.bookmark__toggle__icon {
    inline-size: 1rem;
}

.bookmark__toggle__icon .target--stroke {
    stroke: var(--bookmark-toggle-clr);
}

.bookmark__toggle__icon .target--fill {
    fill: var(--bookmark-toggle-icon-background-clr);
}

.toggled--on {
    --bookmark-toggle-clr: var(--clr-neutral-100);
    --bookmark-toggle-border: 1px solid var(--clr-accent-300);
    --bookmark-toggle-background-clr: var(--clr-accent-300);
    --bookmark-toggle-icon-background-clr: var(--clr-neutral-100);
}

.toggled--off:hover,
.toggled--off:focus {
    --bookmark-toggle-clr: var(--clr-neutral-100);
    --bookmark-toggle-border: 1px solid var(--clr-accent-300);
}