.sww__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    font-size: var(--fs-200);
}

.sww__illustration {
    inline-size: 3.5rem;
    block-size: max-content;
}

.sww__illustration .target--fill {
    fill: var(--clr-accent-300);
}

.sww__body {
    text-align: center;
    max-inline-size: 36ch;
}

.sww__title {
    margin-block-end: 0.5rem;

    font-size: var(--fs-heading-100);
    font-family: var(--ff-heading-100);
    font-weight: var(--fw-heading-100);
    letter-spacing: var(--tracking-heading-100);
    line-height: var(--leading-heading-100);
    color: var(--clr-neutral-100);
}

.sww__supporting__text {
    line-height: var(--leading-body);
}

@media (min-width: 48em) {
    .sww__container {
        font-size: var(--fs-body);
    }

    .sww__illustration {
        inline-size: 4rem;
    }
}