.enf__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.enf__illustration {
    inline-size: 6rem;
}

.enf__illustration .target--fill {
    fill: var(--clr-accent-300);
}

.enf__body {
    max-inline-size: 36ch;
    text-align: center;
}

.enf__title {
    margin-block-end: 0.5rem;

    font-size: var(--fs-heading-100);
    font-family: var(--ff-heading-100);
    font-weight: var(--fw-regular);
    letter-spacing: var(--tracking-heading-100);
    color: var(--clr-neutral-100);
}