.enf__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.enf__illustration {
    inline-size: 4rem;
}

.enf__illustration .target--fill {
    fill: var(--clr-accent-300);
}

.enf__body {
    text-align: center;
}

.enf__supporting__text {
    max-inline-size: 36ch;
    line-height: var(--leading-body);
}